/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/*
.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}
*/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
}


header {
  background: black;
}


#logo {
  font-size: 36px;
  color: yellow;
}

/* START - NAVIGATION CSS FLEXBOZ - https://css-tricks.com/snippets/css/a-guide-to-flexbox 
.navigation {
  list-style: none;
  margin: 0; 
  
  background: black;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}


.navigation 

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

END - NAVIGATION CSS FLEXBOZ - https://css-tricks.com/snippets/css/a-guide-to-flexbox */


.navigation {
  display: flex;
  color: white;
  background: black;
  justify-content: flex-end;
}

#navigationLarge a {
  font-size:20px;
  color: white;
  font-weight: bold;
}

#navigationSmall a {
  font-size:16px;
  color: white;
}

hr {
  border: none;
  border-top: 0px solid yellow;
  margin: 2px;
}

h1 {
  background: grey;
  text-align: center;
  color:black;
  padding-top: 10px;
  padding-bottom: 10px
}

section h1 {
  font-weight: bold;
  font-size: 20px;
  font-style: italic; 
}

h1 span {
    text-decoration: underline;
    color:yellow;
}

h1 strong {
    text-decoration: line-through;
    color: green;
}

.hero {
  background: url('../images/coworking.jpg');
  background-size: cover;
  padding-top: 500px;
  padding-bottom: 500px;
}

#heroText {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  border: 250px 250px 250px;
}


#heroText p {
  font-size: 16px;
}

#heroText h2 {
  font-size: 22px;
  font-weight: bold;
}

#heroTextCta {
  padding:5px 25px 5px 25px;
  font-size: 16px;
  display: inline-block;
  background-color: yellow;
  border-radius: 2px;
}


.tile {
  display: flex;
}

.tile h3 {
  font-size: 20px;
  font-weight: bold;
}

.tile p {
  font-size: 16px;
}

.tileCta {
  padding:5px 25px 5px 25px;
  font-size: 16px;
  display: inline-block;
  background-color: grey;
  border-radius: 5px;
}

footer .copy {
  color: white;
  font-size: 20px;
  border:500px;
  border-color:black;
  text-align: left;
  background: black;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px
}


